{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {# <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"> #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Device Lifecycle - Simple Asset Manamagement</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <!-- Canonical SEO -->
        <link rel="canonical" href="http://www.devicelifecycle.com/"/>

        <meta name="keywords" content="">
        <meta name="description" content="">
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">


        <link href="{% static 'x_awesome_landing_page/assets/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'x_awesome_landing_page/assets/css/landing-page.css' %}" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="{% static 'x_awesome_landing_page/assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="/">
                        <div class="logo-container">
                            <img src="{% static 'img/devicelifecycle_logo-160x65.png' %}" alt="Creative Tim Logo">
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                            Pricing
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            About
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class= "container">
                    <div class="row">
                        <div class="col-md-7  hidden-xs">
                            <div class="parallax-image">
                                <img src="{% static 'img/mac1.png' %}"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="description text-center">
                                <h2>Super, Easy Device Management</h2>
                                <br>
                                <h5>
                                  Asset management, tracking and reporting made easy.
                                  Stop using spreadsheets or outdated software.
                                  <strong>DeviceLifecycle</strong> is a modern and convenient way to track devices across your organization.
                                </h5>
                                <div class="buttons">
                                    <a href="#" class="btn btn-fill btn-neutral">
                                    <i class="fa fa-superpowers"></i> Get Started
                                    </a>&nbsp;
                                    <a href="#" class="btn btn-fill btn-neutral">
                                    <i class="fa fa-video-camera"></i> See it in Action
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">It might even be free for you...</h4>
                    <p>
                      DeviceLifecycle is free for small non-profits and our
                      entry-level plans will always be free.
                      <br>Even if you don't
                      fit into those plans, you'll still be amazed at how
                      cheap it is.
                    </p>
                    <!-- <h4 class="header-text">Why Device Lifecycle?</h4>
                    <p>
                      If you're working with spreadsheets then I don't even
                      need to answer that question, just give the demo a shot
                      and prepare to be blown away.
                      Compare Device Lifecycle to other "asset management" tools
                      out there, and you'll see the advantages of a modern,
                      portable, mobile-friendly, multi-user platform.
                    </p> -->
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="description">
                                <h4 class="header-text">Simplicity First</h4>
                                <p>
                                  At the heart of this tool is <em>simplicity</em>.
                                  It's simple to understand, and won't get in your way.
                                </p>
                                <p>
                                  Designed and built by a web developer in a management position
                                  finding a complete lack of useful options out there for a
                                  small business to manage it's electronics.
                                </p>
                                <p>
                                  But(!), in no way does this sacrifice functionality.
                                  Check out the many powerful features below...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <img src="{% static 'img/phone_and_laptop.png' %}" style="margin-top:-50px"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Features</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-pen"></i>
                                </div>
                                <div class="text">
                                    <h4>Client-Perfect Draws</h4>
                                    <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-look"></i>
                                </div>
                                <h4>Retina Ready</h4>
                                <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-like"></i>
                                </div>
                                <h4>You'll love it</h4>
                                <p>You'll Love It, you will find dining room sets, couches, chairs and pre-owned furniture of all kinds as well as lamps, rugs and accessories.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-piggy"></i>
                                </div>
                                <h4>Big Discount</h4>
                                <p>Take payments and run your business on the go, in your store and then see how it all adds up with analytics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="{% static 'x_awesome_landing_page/assets/img/showcases/showcase-2/bg2.jpg' %}">
                    </div>
                    <div class="info">
                        <h1>Try it for Free!</h1>
                        <p>Our demo-level is always free</p>
                        <a href="" class="btn btn-neutral btn-lg btn-fill">GET STARTED</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="/">
                                Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Pricing
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                About
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy; 2016-2017 <a href="http://www.devicelifecycle.com">Device Lifecycle</a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="{% static 'x_awesome_landing_page/assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'x_awesome_landing_page/assets/js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'x_awesome_landing_page/assets/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'x_awesome_landing_page/assets/js/awesome-landing-page.js' %}" type="text/javascript"></script>

</html>
