{% extends 'dashboard/base.html' %}

{% load static %}

{% block head_styles %}
  {{ block.super }}
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}Activity Feed | {{ block.super }}{% endblock %}

{% block dashboard_menu %}
  {% with 'feed' as selected %}
    {% include 'dashboard/menu.html' %}
  {% endwith %}
{% endblock %}

{% block dashboard_content %}
  <div class="card">
    <div class="header">
      <h2 class="title">Recent Activity</h2>
      <p class="category">The last 30 events across all devices</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          {% with object_list as event_list and True as hide_edit_url and True as show_device %}
            {% include 'devices/event_timeline.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
