{% load bootstrap %}

<form role="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-group form-buttons">
    <button type="submit" class="btn btn-primary btn-fill">
      Submit
    </button>
    {% if cancel_url %}
      <a class="btn btn-warning btn-fill"
        href="{{ cancel_url }}">
        Cancel
      </a>
    {% endif %}
    {% if delete_url %}
      <a class="btn btn-danger btn-fill"
        href="{{ delete_url }}">
        Delete
      </a>
    {% endif %}
  </div>
</form>
