<ul class="nav">
    <li{% if selected == 'devices' %} class="active"{% endif %}>
        <a href="{% url 'dashboard:device_list' %}">
            <i class="pe-7s-note2"></i>
            <p>Inventory</p>
        </a>
    </li>
    <li{% if selected == 'people' %} class="active"{% endif %}>
        <a href="{% url 'dashboard:person_list' %}">
            <i class="pe-7s-users"></i>
            <p>People</p>
        </a>
    </li>
    <li{% if selected == 'reports' %} class="active"{% endif %}>
        <a href="{% url 'dashboard:reports_summary' %}">
            <i class="pe-7s-graph3"></i>
            <p>Reports</p>
        </a>
    </li>
</ul>
