{% extends 'devices/events/event_card_base.html' %}

{% load filename %}

{% block card_title_style %}
  mdl-color--red mdl-color-text--white
{% endblock %}

{% block event_buttons %}
  {% with 'dashboard:decommission_edit' as event_edit_url %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block card_content %}
  <dl class="dl-horizontal">
    <dt>Method:</dt>
    <dd>{{ event.decommissionevent.method }}</dd>
    <dt>Receipt:</dt>
    <dd>
      {% if event.decommissionevent.receipt %}
        <a href="{{ event.decommissionevent.receipt.url }}">
          {{ event.decommissionevent.receipt|filename }}</a>
      {% endif %}
    </dd>
    <dt>Cost:</dt>
    <dd>{% if event.decommissionevent.cost %}
      ${% endif %}{{ event.decommissionevent.cost|floatformat:2 }}
    </dd>
    <dt>Notes:</dt>
    <dd>{{ event.decommissionevent.notes }}</dd>
  </dl>
{% endblock %}
