{% extends 'devices/events/event_card_base.html' %}

{% block card_title_style %}
  mdl-color--red mdl-color-text--white
{% endblock %}

{% block card_content %}
  <dl class="dl-horizontal">
    <dt>Method:</dt>
    <dd>{{ event.decommissionevent.method }}</dd>
    <dt>Receipt:</dt>
    <dd>
      {% if event.decommissionevent.receipt %}
        <a href="{{ event.decommissionevent.receipt.url }}">
          {{ event.decommissionevent.receipt }}</a>
      {% endif %}
    </dd>
    <dt>Cost:</dt>
    <dd>{% if event.decommissionevent.cost %}${% endif %}{{ event.decommissionevent.cost }}</dd>
    <dt>Notes:</dt>
    <dd>{{ event.decommissionevent.notes }}</dd>
  </dl>
{% endblock %}
