<li class="{{ timeline_side }}">
  <div class="timeline-badge {% block badge-color %}{% endblock %}">
    <i class="{{ event.icon }}"></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      {% block event_buttons %}
        {% if event_edit_url and not hide_edit_url %}
          <a
            href="{% url event_edit_url organization.slug event.device.id event.id %}"
            class="pull-right">
            <i class="fa fa-edit"></i>
          </a>
        {% endif %}
      {% endblock %}
      <h4>
        {{ event.instance_type }}
      </h4>
      <div class="row text-muted">
        <div class="col-md-6">
          <i class="fa fa-calendar"></i> {{ event.date }}
          {% if show_device %}
            <br><a href="{{ event.device.get_absolute_url }}">{{ event.device.model }}</a>
          {% endif %}
          {% if event.device.current_owner and show_device %}
            <br><a href="{{ event.device.current_owner.get_absolute_url }}">
              {{ event.device.current_owner }}
            </a>
          {% endif %}
        </div>
        <div class="col-md-6 text-right text-bottom">
          <button class="btn btn-link btn-event-expand" type="button" data-toggle="collapse" data-target="#collapse_event_{{ event.id }}" aria-expanded="false" aria-controls="collapse_event_{{ event.id }}">
            Details <i class="pe-7s-angle-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="timeline-body">
      <div class="collapse" id="collapse_event_{{ event.id }}">
        <br>
        {% block card_content %}<p>{{ event.notes }}</p>{% endblock %}
      </div>
    </div>
  </div>
</li>
