{% extends "devices/device_detail.html" %}

{% load bootstrap %}

{% block activity_feed %}
<div class="card">
  <div class="header">
    <h4>{% block form_title %}{% endblock %}</h4>
  </div>
  <div class="content">
    <form role="form" method="post">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-fill">
          Submit
        </button>
        <a class="btn btn-warning btn-fill"
          href="{% url 'dashboard:device_detail' device.id %}">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
