<li class="{{ timeline_side }}">
  <div class="timeline-badge {% block badge-color %}{% endblock %}">
    <i class="{{ event.icon }}"></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      {% block event_buttons %}
        {% if event_edit_url and not hide_edit_url %}
          <a
            href="{% url event_edit_url organization.slug device.id event.id %}"
            class="pull-right">
            <i class="fa fa-edit"></i>
          </a>
        {% endif %}
      {% endblock %}
      <h4 class="timeline-title">{{ event.instance_type }}</h4>
      <p><small class="text-muted">
        <i class="fa fa-calendar"></i> {{ event.date }}
      </small></p>
    </div>
    <div class="timeline-body">
      {% if show_device %}
      <dl class="dl-horizontal">
        <dt>Device:</dt>
        <dd>
          <a href="{{ event.device.get_absolute_url }}">{{ event.device.model }}</a>
        </dd>
        <dt>Current Owner:</dt>
        <dd>
          {% if event.device.current_owner %}
            <a href="{{ event.device.current_owner.get_absolute_url }}">
              {{ event.device.current_owner }}
            </a>
          {% endif %}
        </dd>
      </dl>
      {% endif %}
      {% block card_content %}<p>{{ event.notes }}</p>{% endblock %}
    </div>
  </div>
</li>
