{% extends 'devices/events/event_card_base.html' %}

{% block badge-color %}primary{% endblock %}

{% block event_buttons %}
  {% with 'dashboard:transfer_edit' as event_edit_url %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block card_content %}
  <dl class="dl-horizontal">
    <dt>Transferred from:</dt>
    <dd>
      {% if event.transferevent.transferred_from %}
        {{ event.transferevent.transferred_from }}
      {% else %}
        Spare
      {% endif %}
    </dd>
    <dt>Transferred to:</dt>
    <dd>
      {% if event.transferevent.transferred_to %}
        {{ event.transferevent.transferred_to }}
      {% else %}
        Spare
      {% endif %}
    </dd>
    <dt>Notes:</dt>
    <dd>{{ event.transferevent.notes }}</dd>
  </dl>
{% endblock %}
