{% extends "dashboard/devices.html" %}

{% load static %}

{% block head_styles %}
  {{ block.super }}
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet"/>
{% endblock %}

{% block dashboard_content %}
  <div class="card">
    <div class="header">
      <a href="{% url 'dashboard:device_update' device.id %}">
        <i class="fa fa-edit pull-right"></i>
      </a>
      <h2 class="title">
        <i
          class="{{ device.icon }} device-icon"
          title="{{ device.device_type }}"></i>
        {{ device.model }}
      </h2>
      {% if device.description %}
        <p class="category">{{ device.description }}</p>
      {% endif %}
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Current Owner</strong><br>
          <a href="{{ device.current_owner.get_absolute_url }}">
            {{ device.current_owner }}</a>
        </div>
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Status</strong><br>
          <span class="text-{{ device.get_status_class }}">{{ device.status }}</span>
        </div>
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Manufacturer</strong><br>
          <span>{{ device.manufacturer }}</span>
        </div>
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Model</strong><br>
          <span>{{ device.model }}</span>
        </div>
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Serial #</strong><br>
          <span>{{ device.serial }}</span>
        </div>
        <div class="col-md-2 col-xs-6 device-detail-prop">
          <strong>Date Purchased</strong><br>
          {% if device.purchaseevent %}
            <span>{{ device.purchaseevent.date }}</span>
          {% endif %}
        </div>
      </div>
      {% block device_warranty %}
        {% if device.warranty_set.all %}
        <div class="row">
          <div class="col-md-12">
            <h4>Warranty Details</h4>
            {% with device.warranty_set.all as warranty_set %}
              {% include 'devices/warranty_table.html' %}
            {% endwith %}
          </div>
        </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>

  {% block activity_feed %}

    <h3>Device History</h3>
      {% if not device.purchaseevent %}
      <div class="alert alert-warning">
          <span style="margin-right: 1em;">
            You don't have purchase details for this device.
          </span>
          <a
            href="{% url 'dashboard:purchase_add' device.pk %}"
            role="button" class="btn btn-warning btn-fill">
            Add Purchase Details.
          </a>
      </div>
      {% endif %}
      {% if not device.events.all %}
        <span class="muted">No events yet.</span>
      {% endif %}

      {% with device.events.all as event_list %}
        {% include 'devices/event_timeline.html' %}
      {% endwith %}

    <div class="dropup fab">
      <button class="btn btn-warning btn-fill btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        {% if not device.purchaseevent %}
          <li><a href="{% url 'dashboard:purchase_add' device.pk %}">Purchase</a></li>
        {% endif %}
        <li><a href="{% url 'dashboard:note_add' device.pk %}">Note</a></li>
        <li><a href="{% url 'dashboard:transfer_add' device.pk %}">Transfer</a></li>
        <li><a href="{% url 'dashboard:repair_add' device.pk %}">Repair</a></li>
        <li><a href="{% url 'dashboard:decommission_add' device.pk %}">Decommission</a></li>
        <li><a href="{% url 'dashboard:warranty_add' device.pk %}">Warranty</a></li>
      </ul>
    </div>
  {% endblock %}

{% endblock %}
