{% extends "dashboard/devices.html" %}

{% block dashboard_content %}
  <div class="card">
      <div class="header">
          <form action="" method="get" class="pull-right filter-form">
            {{ filter.form.as_p }}
          </form>
          <h4 class="title">Inventory</h4>
          <p class="category">
            {{ filter.qs.count }} Devices
          </p>
          <p class="category" style="margin-top: 2em;">
            <a href="{{ export_link }}">
              <i class="fa fa-download"></i>
              Export
            </a>
          </p>
      </div>
      <div class="content table-responsive table-full-width">
        {% with filter.qs as device_list %}
          {% include 'devices/device_list_table.html' %}
        {% endwith %}
      </div>
  </div>

  <a
    class="btn btn-warning btn-fill btn-lg fab"
    href="{% url 'dashboard:device_add' organization.slug %}">
    <i class="fa fa-plus"></i>
  </a>
{% endblock %}
