<table class="table table-hover table-striped">
    <thead>
      <th>Model</th>
      <th>Current Owner</th>
      <th>Serial #</th>
      <th>Purchase Date</th>
    </thead>
    <tbody>
      {% for device in device_list %}
        <tr>
          <td>
            <i
              class="{{ device.icon }}"
              title="{{ device.device_type }}"></i>
            <a href="{{ device.get_absolute_url }}">
              {{ device.model }}
            </a>
          </td>
          <td>
            {% if device.current_owner %}
              <a href="{{ device.current_owner.get_absolute_url }}">
                {{ device.current_owner }}</a>
            {% endif %}
          </td>
          <td>{{ device.serial }}</td>
          <td>{{ device.purchaseevent.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
