{% extends "dashboard/devices.html" %}

{% block dashboard_content %}
  <div class="card">
      <div class="header">
          <h4 class="title">Inventory</h4>
          <p class="category">
            {{ object_list.count }} active devices
          </p>
      </div>
      <div class="content table-responsive table-full-width">
        {% with object_list as device_list %}
          {% include 'devices/device_list_table.html' %}
        {% endwith %}
      </div>
  </div>

  <a
    class="btn btn-warning btn-fill btn-lg fab"
    href="{% url 'dashboard:device_add' %}">
    <i class="fa fa-plus"></i>
  </a>
{% endblock %}
