.timeline-panel {
  background-color: white;
}

.device-detail-prop {
  padding-bottom: .5em;
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 80px;
}

.form-buttons {
  /*border-top: 1px solid #eee;*/
  background-color: #fcfcfc;
  /*text-align: right;*/
  maring-top: 1em;
  padding: 1em 2em;
}

#chart {
  margin: 3em 0;
}

 .login-card {
   margin-top: 2em;
 }

 .title .device-icon {
   margin-right: .8em;
 }

form.filter-form {
  margin: 1em 1em 0 0;
}

form.filter-form p {
  text-align: right;
}

form.filter-form p select {
  font-size: .8em;
}

button.btn-link {
  border-width: 0px;
}

.timeline-heading h4 {
  margin: 0px;
}

button.btn-event-expand {
  margin: 0px;
}

dl.event-device-info {
  margin: 0px;
  padding:0px;
}
